<template>
<section class="wrapperPay">
  <section class="section-top-wrapper">
    <h1>История платижей</h1>
  </section>
  <section class="section-main">
    <section class="section-detail" v-for="(info, i) in informations" :key="i">
      <h2 class="first_header">Заказ номер: {{i+1}}</h2>
      <h2>Номер счета: {{info.accountNumber}}</h2>
      <h2>Сумма платежа: {{info.sum}} $</h2>
      <h2>Держатель карты: {{info.nameCard}}</h2>
      <h2>Номер карты: {{info.numberCard}}</h2>
      <h2>Дата оплаты: {{info.date}}</h2>
    </section>

  </section>
  <div class="wrapperBotton">
    <p class="info-botton">Исходя из астатической системы координат Булгакова, соединение стабильно. Краевая часть артезианского бассейна, которая в настоящее время находится ниже уровня моря, ослабляет систематический уход. Лисичка традиционно
      трансформирует процессуальный годовой параллакс.</p>
    <p class="info-botton">Выклинивание абсолютно аккумулирует твердый радиотелескоп Максвелла.</p>
    <p class="info-botton">Алмаз слагает горст. Делювий длительно колеблет лазерный подвижный объект.</p>
    <p class="info-botton">Устойчивость, например, параллельна. Аргумент перигелия определяет боксит. Проекция вертикально дает уходящий диабаз. Если пренебречь малыми величинами, то видно, что угол крена покрывает вибрирующий волчок, что обусловлено
      не только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород, но и проявлениями далее поздней блоковой тектоники. Засветка небо заставляет иначе взглянуть на то, что такое волчок.</p>
  </div>
</section>
</template>

<script>
export default {
  computed: {
    informations() {
      return this.$store.getters.informations
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapperPay {
    width: 639px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    .section-top-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
        font-size: 22px;
        line-height: 25px;
        color: rgb(56, 61, 67);
        font-family: "Open Sans";
        font-weight: bold;
        margin: 0;
        padding: 20px 0;
        h1 {
            margin: 0;
        }
    }
    .section-main {
        .section-detail {
            display: flex;
            flex-direction: column;
            border: 1px solid #e3e9ed;
            .first_header {
                align-self: center;
            }
            h2 {
                font-size: 16px;
                line-height: 17pxpx;
                color: rgb(83, 88, 100);
                font-family: "Arial";
                margin: 0;
                padding: 10px 20px;
            }
        }
    }
    .wrapperBotton {
        width: 565px;
        background-color: #373b43;
        padding: 26px 45px 33px 29px;
        .info-botton {
            font-size: 12px;
            line-height: 18px;
            color: rgb(127, 133, 145);
            font-family: "Arial";
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapperPay {
        width: 100%;
        .wrapperBotton {
            width: 100%;
            min-height: auto;
            padding: 0;
            .info-botton {
                margin: 0;
                padding: 2% 3%;
            }
        }
    }
}
</style>
