<template>
<section class="wrapperMain">
  <form class="wrapperPay" @submit.prevent="someAction">
    <section class="user-info">
      <p class="info-p">Информация по оплате:</p>
      <div class="user-info-all">
        <div class="user-info-left">
          <p class="info-p two">Номер счета:</p>
          <p class="info-p">Сумма платежа:</p>
        </div>
        <div class="user-info-right">
          <input name="accountNumber" :class="{'red' : errors.has('accountNumber')}" v-validate.continues="{ required: true, min_value:1 }" class="user-info-input first-input" type="text" v-model="accountNumber">
          <input class="user-info-input" type="text" v-model="sum" name="sum" :class="{'red' : errors.has('sum')}" v-validate.continues="{ required: true, min_value:1 }">
        </div>
      </div>
    </section>
    <section class="card-info">
      <h1 class="card-info-header">Данные банковской карты:</h1>
      <div class="card">
        <div class="front-card">
          <label class="front-card-info-header">Номер карты</label>
          <div class="wrapper-inputs">
            <input type="text" class="all_inputs" name="holder1" :class="{'red' : errors.has('holder1')}" v-validate.continues="{ required: true, digits:4 }" v-model="holder1" maxLength="4">
            <input type="text" class="all_inputs" name="holder2" :class="{'red' : errors.has('holder2')}" v-validate.continues="{ required: true, digits:4 }" v-model="holder2" maxLength="4">
            <input type="text" class="all_inputs" name="holder3" :class="{'red' : errors.has('holder3')}" v-validate.continues="{ required: true, digits:4 }" v-model="holder3" maxLength="4">
            <input type="text" class="all_inputs" name="holder4" :class="{'red' : errors.has('holder4')}" v-validate.continues="{ required: true, digits:4 }" v-model="holder4" maxLength="4">
          </div>
          <label class="front-card-info-header">Срок действия</label>
          <div class="wrapper-inputs">
            <select class="all_inputs_bottom">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select class="all_inputs_bottom">
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
            </select>
          </div>
          <input type="text" class="name-holder-input" name="nameCard" :class="{'red' : errors.has('nameCard')}" v-validate.continues="{ required: true, alpha_spaces: true }" placeholder="Держатель карты" v-model="nameCard">
        </div>
        <div class="back-card">
          <div class="strip">
          </div>
          <p class="cvv-info">Код CVV2 / CVC2</p>
          <input class="cvv-info-input" name="cvv" :class="{'red' : errors.has('cvv')}" v-validate.continues="{ required: true, numeric: true, length:3 }" v-model="cvv" maxLength="3">
        </div>
      </div>
    </section>
    <button class="submit" :disabled="!isFormValid" type="submit">Оплатить</button>
  </form>
  <div class="wrapperBotton">
    <p class="info-botton">Исходя из астатической системы координат Булгакова, соединение стабильно. Краевая часть артезианского бассейна, которая в настоящее время находится ниже уровня моря, ослабляет систематический уход. Лисичка традиционно
      трансформирует процессуальный годовой параллакс.</p>
    <p class="info-botton">Выклинивание абсолютно аккумулирует твердый радиотелескоп Максвелла.</p>
    <p class="info-botton">Алмаз слагает горст. Делювий длительно колеблет лазерный подвижный объект.</p>
    <p class="info-botton">Устойчивость, например, параллельна. Аргумент перигелия определяет боксит. Проекция вертикально дает уходящий диабаз. Если пренебречь малыми величинами, то видно, что угол крена покрывает вибрирующий волчок, что обусловлено
      не только первичными неровностями эрозионно-тектонического рельефа поверхности кристаллических пород, но и проявлениями далее поздней блоковой тектоники. Засветка небо заставляет иначе взглянуть на то, что такое волчок.</p>
  </div>
</section>
</template>
<script>
export default {
  data() {
    return {
      accountNumber: '',
      cvv: '',
      sum: '',
      holder1: '',
      holder2: '',
      holder3: '',
      holder4: '',
      nameCard: ''
    }
  },
  computed: {
    isFormValid() {
      return Object.keys(this.fields).every(field => this.fields[field].valid)
    }
  },

  methods: {
    someAction() {
      const toggle = Object.keys(this.fields).every(field => this.fields[field].valid)
      const infoData = {
        accountNumber: this.accountNumber,
        sum: this.sum,
        numberCard: this.holder1 + this.holder2 + this.holder3 + this.holder4,
        nameCard: this.nameCard,
        cvv: this.cvv,
        date: new Date().toISOString().slice(0, 10)
      }
      this.$store.dispatch('setToggle', toggle)
      this.$store.dispatch('setPayment', infoData)
      this.$router.push('/success')
    },
  },
};
</script>
<style lang="scss" scoped>
.red {
    background: #FA8072;
}

.wrapperMain {
    display: flex;
    flex-direction: column;
    .wrapperPay {
        width: 639px;
        min-height: 569px;
        background-color: #f7f7f7;
        .user-info {
            padding: 47px 0 35px 29px;
            display: flex;
            flex-direction: column;
            .info-p {
                font-size: 16px;
                line-height: 21px;
                color: #535864;
                font-family: "Arial";
                margin: 0;
            }
            .user-info-all {
                display: flex;
                .user-info-left {
                    width: 25%;
                    .two {
                        padding: 23px 0 11px;
                    }
                }
                .user-info-right {
                    width: 40%;
                    .first-input {
                        margin: 23px 0 11px;
                        text-align: center;
                    }
                    .user-info-input {
                        border: 1px solid #e3e9ed;
                        outline: none;
                        font-size: 14px;
                        width: 78%;
                        text-align: center;
                    }
                }
            }
        }
        .card-info {
            display: flex;
            flex-direction: column;
            .card-info-header {
                padding: 0 0 20px 29px;
                font-size: 22px;
                line-height: 25px;
                color: #383d43;
                font-family: "Open Sans";
                font-weight: bold;
                margin: 0;
            }
            .card {
                display: flex;
                position: relative;
                padding: 0 0 0 29px;
                .front-card {
                    width: 350px;
                    height: 236px;
                    border-radius: 10px;
                    background-color: #f7f7f7;
                    border: 1px solid #e3e9ed;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    .front-card-info-header {
                        font-size: 16px;
                        line-height: 21px;
                        color: rgb(132, 148, 171);
                        font-family: "Arial";
                        margin: 0;
                        padding: 13px 0 6px 17px;
                    }
                    .wrapper-inputs {
                        display: flex;
                        padding-left: 17px;
                        .all_inputs {
                            width: 65px;
                            height: 42px;
                            border: 1px solid #e3e9ed;
                            margin: 0 4.5px;
                            outline: none;
                            font-size: 14px;
                            text-align: center;
                        }
                        .all_inputs:first-child {
                            margin-left: 0;
                        }
                        .all_inputs_bottom {
                            outline: none;
                            width: 70px;
                            height: 42px;
                            border: 1px solid #e3e9ed;
                            margin: 0 4.5px;
                        }
                        .all_inputs_bottom:first-child {
                            margin-left: 0;
                        }
                    }
                    .name-holder-input {
                        width: 319px;
                        height: 42px;
                        border: 1px solid #e3e9ed;
                        margin: 7px 0 0 17px;
                        outline: none;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .back-card {
                    z-index: 0;
                    width: 370px;
                    height: 236px;
                    border-radius: 10px;
                    background-color: #f7f7f7;
                    border: 1px solid #e3e9ed;
                    position: absolute;
                    left: 223px;
                    top: 41px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .strip {
                        width: 276px;
                        height: 42px;
                        background-color: #e3e9ed;
                        margin-left: 94px;
                        margin-top: 35px;
                    }
                    .cvv-info {
                        font-size: 16px;
                        line-height: 21px;
                        color: rgb(132, 148, 171);
                        font-family: "Arial";
                        margin: 0;
                        padding: 37px 24px 4px 0;
                    }
                    .cvv-info-input {
                        width: 138px;
                        height: 42px;
                        border: 1px solid #e3e9ed;
                        margin: 0 24px 0 0;
                        outline: none;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
        .submit {
            width: 133px;
            height: 40px;
            border-radius: 20px;
            background-color: #0059bf;
            border: none;
            text-decoration: none;
            font-size: 14px;
            line-height: 18px;
            color: rgb(255, 255, 255);
            font-family: "Open Sans";
            font-weight: bold;
            text-align: center;
            margin: 58px 0 25px 75px;
            cursor: pointer;
            outline: none;
        }
    }
    .wrapperBotton {
        width: 565px;
        background-color: #373b43;
        padding: 26px 45px 33px 29px;
        .info-botton {
            font-size: 12px;
            line-height: 18px;
            color: rgb(127, 133, 145);
            font-family: "Arial";
        }
    }
}
select {
    font-size: 16px;
    line-height: 21px;
    color: rgb(55, 60, 67);
    font-family: "Arial";
}

@media screen and (max-width: 768px) {
    .wrapperMain {
        width: 100%;
        .wrapperPay {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            .user-info {
                align-self: flex-start;
                padding: 2% 5%;
                .user-info-all {
                    .user-info-left {
                        width: 40%;
                    }
                }
            }
            .card-info {
                padding: 0;
                width: 100%;
                align-items: center;
                .card {
                    width: 100%;
                    flex-direction: column;
                    padding: 0;
                    .front-card {
                        align-self: flex-start;
                        margin-left: 2%;
                        width: 70%;
                        .wrapper-inputs {
                            .all_inputs {
                                width: 20%;
                            }
                        }
                        .name-holder-input {
                            width: 80%;
                        }
                    }
                    .back-card {
                        margin-top: -100px;
                        align-self: flex-end;
                        margin-right: 2%;
                        position: static;
                        width: 70%;
                    }
                }
            }
            .submit {
                align-self: center;
                margin: 2%;
            }
        }
        .wrapperBotton {
            width: 100%;
            min-height: auto;
            padding: 0;
            .info-botton {
                margin: 0;
                padding: 2% 3%;
            }
        }
    }

}

@media screen and (max-width: 450px) {
    .wrapperMain {
        .wrapperPay {
            .card-info {
                .card {
                    .front-card {
                        width: 80%;
                    }
                    .back-card {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {

    .wrapperMain {
        .wrapperPay {
            .user-info {
                .user-info-all {
                    .user-info-left {
                        width: 60%;
                    }
                }
            }
            .card-info {
                .card {
                    .front-card {
                        width: 90%;
                    }
                    .back-card {
                        width: 90%;
                    }
                }
            }
        }
    }
}
</style>
