<template>
<div id="app">
  <section class="navBar">
    <ul>
      <router-link tag="li" to="/" exact active-class="active">
        <a>Личный кабинет</a>
      </router-link>
      <router-link tag="li" to="/success" active-class="active">
        <a>Платежи (активная)</a>
      </router-link>
      <router-link tag="li" to="/history" active-class="active">
        <a>История платижей</a>
      </router-link>
    </ul>
  </section>
  <router-view />
</div>
</template>
<script>

</script>
<style lang="scss" scoped>
#app {
    display: flex;
    .navBar {
        width: 318px;
        background-color: #1f2129;
        height: max-content;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            li {
                height: 76px;
                padding-left: 5%;
                display: flex;
                align-items: center;
                a {
                    font-size: 18px;
                    line-height: 24px;
                    color: rgb(128, 133, 146);
                    font-family: "Open Sans";
                    font-weight: bold;
                    text-align: left;
                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
                    text-decoration: none;
                    &:active {
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 910px) {
    li {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .navBar {
        width: auto;
        li {
            padding-left: 0;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 486px) {
    #app {
        flex-direction: column;
        .navBar {
            padding: 0 2%;
            width: auto;
            ul {
                flex-direction: row;
                justify-content: space-around;
                li {
                    padding: 0 2%;
                    width: 30%;
                }
            }
        }
    }
}
</style>
